@media screen and (max-width: 768px) {
    .navbar .right {
        display: none;
      }
      
      .navbar .ham {
        display: block;
        margin-right:30px;
        font-size: 1rem;
      }
      
      .navbar {
        padding: 10px 10px;
        justify-content: space-between;
      }
      
      
      .navbar .right.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: fit-content;
        top: 75px; 
        right: 10px; 
        padding: 5px;
        gap: 10px;
        align-items: end;
        background-color: #3333336f;
      }
      .search div
      {
        display: flex;
        flex-direction: column;
      }

}