*
{
    margin:0px;
    padding:0px;
}
.top
{
    margin:10px;
    display: flex;
    .acc
    {
        display: flex;
        gap:5px;
        font-family:arial;
        font-weight:600;
        margin:auto 5px;
    }
    .macbook-island {
        height:30px;
        width:100px;
        background-color: rgb(28, 21, 21);
        border-radius: 10px;
        margin:Auto;
        display: flex;
        align-items: center;

    }
    .cam
    {
        height:20px;
        width:20px;
        border-radius: 50px;
        background-color: rgba(88, 85, 85, 0.452);
        margin-left:5px;
        
    }
    .streak
    {
        display: flex;
        font-family: sans-serif;
        margin:auto 5px;
        gap:5px;
        i 
        {
            color:rgb(223, 116, 15);
            font-size:20px;
        }
    }
    .login
    {
      height:20px;
      margin:-3px 25px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 5px;
            gap: 5px;
            background-color: #181717;
            outline: 3px #181717 solid;
            outline-offset: -3px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: 400ms;
        }
        
        .button .text {
            color: white;
            font-weight: 700;
            font-size: 1em;
            transition: 400ms;
        }
        
        .button svg path {
            transition: 400ms;
        }
        
        .button:hover {
            background-color: transparent;
        }
        
        .button:hover .text {
            color: #181717;
        }
        
        .button:hover svg path {
            fill: #181717;
        } 
            }
        }
.mid
{
    
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
    
    .p1
    {
        height:80%;
        width:25%;
        
        .card {
            width: 250px;
            height: 120px;
            background: rgb(17, 4, 134);
            border-radius: 15px;
            box-shadow: rgba(202, 194, 194, 0.7) 5px 10px 50px ,rgba(202, 192, 192, 0.7) -5px 0px 250px;
            display: flex;
            color: white;
            justify-content: center;
            position: relative;
            flex-direction: column;
            background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
        }
        
        .card:hover {
            box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
        }
        
        .time-text {
            font-size: 50px;
            margin-top: 0px;
            margin-left: 15px;
            font-weight: 600;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .time-sub-text {
            font-size: 15px;
            margin-left: 5px;
        }
        
        .day-text {
            font-size: 18px;
            margin-top: 0px;
            margin-left: 15px;
            font-weight: 500;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .moon {
            font-size: 20px;
            position: absolute;
            right: 15px;
            top: 15px;
            transition: all 0.3s ease-in-out;
        }
        
        .card:hover > .moon {
            font-size: 23px;
        }
    }

    .p2 {
        background-color: rgb(161, 29, 29);
        height: 80%;
        width: 25%;
        color:white;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        position: relative;
        .time_set
        {
            position:absolute;
            padding: 5px;
            top:0;
            left:0;
            font-size:12px;
            display: flex;
            gap:5px;
            button
            {
                height: 5px;
            }
        }
        
    }
    
    .btns {
        display: flex;
        justify-content: space-around;
        margin: 20px 0px;
    }
    
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        position: relative; /* Necessary for position-based animations */
    }
    
   
    
    .p3
    {
        margin-top:-35px;
        height:80%;
        width:35%;
        position: relative;
        border-radius:10px;
        color:rgb(0, 0, 0);
        font-family: 'Courier New', Courier, monospace;
        table
        {
            margin-bottom:5px;
            width:100%;
            background-color:rgb(188, 103, 103);
            border-radius: 5px;
            padding:10px;
        }
        table tr th 
        {
            font-weight: 800;
            color:white;
        }
        table tr td
        {
            background-color: rgb(94, 23, 2);
            
            color:white;
            
            text-align: center;
            border-radius: 5px;
            
        }
        
    }
}