@media screen and (max-width: 768px) {
    /* Responsive */
    .navbar .right {
        display: none;
      }
      
      .navbar .ham {
        display: block;
        margin-right:80px;
        font-size: 1rem;
      }
      
      .navbar {
        padding: 10px 30px;
      }
      
      .navbar .right.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 74px; 
        right: 0px; 
        padding: 10px;
        gap: 10px;
        align-items: end;
        background-color: #3333336f;
      }
      
      .right .search {
        margin: 0px;
      }
          
    .top
    {
        font-size:100%;
    }
    .below
    {
        font-size:200%;
    }
    .bottom
    {
        font-size:100%;
    }
    .body img 
    {
        display: none;
    }
    .products
    {
        display: flex;
        justify-content: center;
        gap:30px;
    }
    .btn-cart
    {
        position: absolute;
        top:20px;
        right:60px;
        z-index: 99;
    }
    
    .slider
    {
        z-index:2;
        height:60%;
        top:70px;
    }
    .card 
    {
        z-index:1;
    }
    .popup
    {
        width:auto;
        margin:0px 0px;
    }
    .reviews-cardxs
    {
        padding:0.5rem;
    }
}
