.products::-webkit-scrollbar{
    display: none;
}

.categories::-webkit-scrollbar{
    display: none;
}

.populars::-webkit-scrollbar{
    display: none;
}

.shader{
    background: linear-gradient(to right bottom, #69628a, #040309);
}
.show
{
    display: block;
}
.image-k
{
    object-fit:fill;
    height: 40px;
    border-radius: 5px;
}